{% load static %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "core/base.css" %}?v=1.0.10"/>
</head>
<body>
<header>
<div class="container">
    <div class="row text-centered">
        <div class="col-12">
            <h1>{% block title %}{% endblock %}</h1>
        </div>
    </div>
</div>


{% block greeting %}
     <div id="greeting">
    {% if user.is_authenticated %}
        <div class="container">
        <div class="row">
            <div class="col-lg-3 offset-lg-9 ">Вы зашли как {{ user.username }}.
                <div><a href="{% url 'user:logout' %}">Выход</a></div></div>
        </div>
        </div>

        <br/>
    {% else %}
        <div class="container">
        <div class="row">
            <div class="col-lg-1 offset-lg-9 "><a href="{% url 'user:login' %}">Войти</a></div>
            <div class="col-lg-1"><a href="{% url 'user:signup' %}">Зарегистрироваться</a></div>
        </div>
        </div>
    {% endif %}

    </div>
{% endblock %}
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


{% block footer %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>