{% extends 'base.html' %}
{%  block title %}<h1> Это блог "{{ blog.title }}" от  <a href = {% url 'user:user_detail' pk=blog.owner.id%}>{{ blog.owner }}</a></h1> {% endblock %}

{% block content %}
    {% for post in blog.posts.all %}
        <div><a href="{% url 'blog:post_detail' pk=post.pk blog_id=post.blog.id %}">{{post.title}} </a> </div>
    {% endfor %}

    <br/>
    {% if blog.owner == user %}
        <p><a href="{% url 'blog:post_create' pk=blog.id %}"> Новый пост</a></p>
    {% endif %}
    <p><a href="{% url 'blog:blog_list' %}">К списку блогов</a></p>
    {% include 'to_main_page.html' %}
{% endblock %}